
$primarycolor1:#0064cb;
$primary-color2:#FF6347;
$secondary-color1:#000400;
$secondary-color2:#FFFFFF;
$secondary-color3:#BDB76B;

@mixin pages-formulaires{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:5px;
    padding:30px;
}
@mixin style-formulaires{
    padding: 20px;
    border: 1px solid;
    border-radius: 10px;
    font-weight: bold;
    background-color:$secondary-color2; 
    letter-spacing: 1px;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 0px;
    padding:0px;
}
header{
    display: flex;
    justify-content: center;
    padding:10px;
    img{
        max-width: 100%;
        height: auto;  
    }
}
#menu{
    justify-content: center;
}
.menu:hover{
    background-color: RGBa(189, 183, 107, 74);
  }
nav{
    ul{
        li{
            display: inline;
            font-size: larger;
            font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            letter-spacing:2px;
            padding:10px;
        }
    }
}
li{
   a {
    text-decoration: none;
     }
}
/*bandeau*/
#nav2{
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    border:1px solid;
    border-radius: 10px;
    background-color:$primary-color2;
    color:$secondary-color2;
}
/*main menu principal*/
#accueil{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:10px;
}
/*section */

#section1, #section2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*aside footer*/

#aside{
    display:flex;
    justify-content: center;
    font-size:larger;
    letter-spacing:3px;
    margin-top:10px;
}
#aside > ul > li {
    display: inline;
    font-size:medium;
    font-family:fantasy;
    letter-spacing:2px;
    padding:20px;
}
img{
    max-width: 100%;
    height: auto;  
}
footer{
    display: flex;
    justify-content: center;
    font-size:large;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing:1px;
    font-weight: bold;
    text-decoration: underline;
    color:$primarycolor1;
}
/*page consultation*/
.rubrique{
    font-size: larger;
    text-align: center;
    padding: 10px;
    width: 280px;
    background-color: $secondary-color3;
    border: 2px solid;
    border-radius: 20px;
}
main #consultations{
                     display: flex;
    section, #tarifsconsultation, #ateliers
                    {
                    display: block;
    section, #explication
                    {
                    font-size: medium;
                    padding: 10px;
                    width: 300px;    
                    }
            }
 }
/* Recettes de bases*/
em{
    color:$primarycolor1;
    font-size: larger;
  }
  main, #main{
    display: flex;
    justify-content:space-evenly; 
  }
  
  section, #t-recette{
      display: block;
      text-align: center;
      margin-top: 10px;
  }
  section, .recettes{
      display: block;
  }
  aside, #lien{
      display: flex;
      justify-content: center;
      margin-top: 5px;
      color:$primary-color2;
  }
  #recettes{
    display: flex; 
  }
  /*Page confidentialité */
#confidentialite{
    flex-direction: column;
}

/*Formulaires*/
#espaceclient, #inscriptions, #contact {

@include pages-formulaires;

}
.login, .inscription, .contact {
    @include style-formulaires;
}

@media screan and (max-width: 600px) {
    main, #consultations {
        flex-direction: column;
    }
 }
 